### DSO102 L3 Example of Vector Arithmetic in R:

In [1]:
### Imagine a small school has 10 teachers and each number in the vector will represent how many students are in their class
### Below the vector name created is "Students" and the "c" in front of the () parenthesis indicates a vector

In [2]:
Students <- c(22, 33, 25, 34, 20, 36, 29, 30, 32, 26)

In [3]:
### Each teacher is about to receive to more additional students
### Adding 2 to the additional number of students:

In [4]:
StudentsAddTwo <- Students + 2

In [5]:
StudentsAddTwo

 [1] 24 35 27 36 22 38 31 32 34 28

In [6]:
### See the output in the new vector called "StudentsAddTwo" is now showing each number from the original vector "Students" plus 2

In [7]:
### Now the school has decided to merge with another location so the number of students will double
### Multiply the current student count by 2:

In [8]:
StudentsDouble <- StudentsAddTwo * 2
StudentsDouble

 [1] 48 70 54 72 44 76 62 64 68 56

In [9]:
### See how each number in the vector is now mulitplied by 2 by creating a new vector name "StudentsDouble" and multiplying the 
### vector "StudentsAddTwo" using the asterisk * 2

In [10]:
### The schools combined now have 24 teachers instead of ten so the number of students will divide by 4 so 
### the students will be more evenly distributed between the classes and reduce the number of students per class

In [11]:
DividedForClasses <- StudentsDouble / 4
DividedForClasses

 [1] 12.0 17.5 13.5 18.0 11.0 19.0 15.5 16.0 17.0 14.0

In [12]:
### This divides each number in the vector "StudentsDouble" by 4. Clearly, we can't half half of a student, but you can see
### how you can use vectors for arithmetic operations:)

In [13]:
### One more fun thing! Watch two vectors of the same length be added together:
### Add the amount of StudentsAddTwo plus StudentsDouble:

In [14]:
AddingTwoVectors <- StudentsAddTwo + StudentsDouble
AddingTwoVectors

 [1]  72 105  81 108  66 114  93  96 102  84

In [15]:
### See how that added both vectors together creating a new vector "AddingTwoVectors"? cool right? lol hope this helps and have fun exploring 
### math with vectors in R, from Mia :)
### adding vectors idea from https://www.c-sharpcorner.com/article/operations-on-vector-in-r-with-example/

In [1]:
### Ask which examples you would like to see next:)