<hr style="height:10px;border-width:0;color:gray;background-color:darkcyan">

# Hands On Helper <a class="anchor" id="DS108L2_page_1"></a>


<hr style="height:10px;border-width:0;color:gray;background-color:darkcyan">

In [1]:
from IPython.display import VimeoVideo
# Tutorial Video Name: DS108-L2-HandsOn-Helper
VimeoVideo('718765364', width=720, height=480)

_Remember, when building a SQL query, first you list all the columns you're going to want returned in your results grid.  <br> Then you tell SQL which database(s) it will find the information in. <br> Next you list your JOIN statements, remembering that all of the information you want returned will be in the left table, which is the first table you list after FROM. The right table will be the second table you list. <br> Finally, you use WHERE or LIKE statements if you need to further filter your results._

_It's standard practice to type your commands in all caps in SQL. That way they stand out._

## Run these queries inside your MySQL Workbench.

### 1. Write a query that finds the  first name, last name, customer ID and addresses of all customers.

```sql 
SELECT first_name, last_name, address, customer_id from sakila.customer
JOIN  sakila.address USING  (address_id);

#### _The first table you list is your "left" table - it will return ALL the information from that first table, and only matching information/rows/columns from the second table - which is the "right" table.   Don't forget to finish your SQL statement with a semicolon. It's like a period in a sentence._

### 2. Write a query that finds all cities with an city_id < 100 <br>  _HINT:  "all" cities means an asterisk (or shift + 8).  You'll need to further filter that with a WHERE statement._

```sql 
SELECT * from city 
WHERE city_id < 100;

### 3.	 Write a query that returns all first and last names, email addresses  from along with rental dates, even if that doesn’t exist for customer.  <br> 

#### _(Hint:  "even if that doesn't exist" signals an outer join, which will tell SQL to bring all the information over from the right table, even if there isn't a matching value in the left table.)_

```sql 
SELECT first_name, last_name, email, rental_rate FROM customer
LEFT OUTER JOIN rental USING (customer_ID);

#### 4.	 Write a query that list out names of customers who shopped at the stores in sakila – only customers whose last names start with  B, C, D, or E. <br>

#### _Hint: First you build what you want returned, then you get the tables you need, then you further filter with a WHERE statement. But this one has multiple!_

```sql 
SELECT first_name, last_name FROM customer 
JOIN store USING (store_id) 
WHERE last_name LIKE 'b%' OR last_name LIKE 'c%' OR last_name LIKE 'd%' OR last_name LIKE 'e%';

## PART 2

#### As a data analyst, your client would like to reorganize their inventory list of budget films.  They need a list of films available for rent for less than $ 4.99 so they can reorganize their store shelves.

```sql 
SELECT * FROM sakila.inventory 
JOIN sakila.rental USING (inventory_id) 
JOIN sakila.payment USING (rental_id) 
WHERE amount < 4.99;

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Fun Fact!</h3>
    </div>
    <div class="panel-body">
        <p>Different from the SELECT statement, which is used to query data, INSERT/UPDATE/DELETE/MERGE statement modifies data. </p>
    </div>
</div>