In [20]:
import numpy as np
import pandas as pd

# DS106 Lesson 5 hands on Python
## Nolan Hardeman
### Simulation Hands-On
A retailer wants to create a simulation to predict the profit on the sales of a certain tool she carries. She knows the profit is a function of several factors, for which she has historical data:

*__Units Sold__: Normal distribution, with a mean of 26 units and a standard deviation of 5.7 units.

*__Price__: Discrete distribution. 55% of the time the price is 38. 30% of the time the price is 41.50. and 15% of the time is 36.25.

*__Cost__: Uniform distribution, with a max of 33.72 and a min of 26.88.

*__Resource Factor__: Normal distribution, with a mean of 3 and a standard deviation of 1.2.

The function for profit is as follows:
$$Profit = (RF * (Units sold) * (Price)) - ((0.2) * (RF) * (Units sold) * (Cost)) + $320$$

Create a simulation that has 100 rows of monthly profits. Once you have completed this simulation exercise, prepare a report stating what you did, what you learned, and your results. You have the option to complete your simulation in either R or Excel.

In [3]:
unitsSold = (np.random.normal(size=100))*5.7 + 26

In [19]:
random = np.random.uniform(0, 1, 100)
print(random)

[0.86156262 0.4842161  0.70001476 0.61257673 0.12572014 0.11086985
 0.61592295 0.77144062 0.70864945 0.97733409 0.38299897 0.98369296
 0.28092917 0.78220487 0.53830497 0.71378264 0.54176742 0.64526134
 0.6728845  0.987637   0.16796002 0.46298229 0.11836997 0.13866123
 0.33134156 0.45665473 0.63537611 0.78648854 0.47513673 0.67965765
 0.74046326 0.99640576 0.58156656 0.68052866 0.45848871 0.96429647
 0.03534992 0.62183825 0.80254837 0.2124869  0.32551388 0.09433618
 0.4857431  0.95907486 0.69272473 0.11376801 0.26439344 0.47352649
 0.54222453 0.40041279 0.33427779 0.26288755 0.98923543 0.86715587
 0.91762237 0.04252618 0.38608351 0.13100575 0.62467487 0.32929253
 0.08847995 0.55650767 0.49455763 0.50688917 0.11351681 0.50363551
 0.16669135 0.140355   0.17294952 0.42597925 0.26686469 0.32527976
 0.31399304 0.3109585  0.76463145 0.95866641 0.89737661 0.04651043
 0.97141768 0.44656565 0.72092478 0.42436753 0.00180577 0.80965995
 0.87311791 0.68890314 0.24300511 0.96745356 0.28921287 0.60733036
 0.81951652 0.02541451 0.08758542 0.04554031 0.21272452 0.31614779
 0.13333837 0.66741883 0.63679922 0.09140988]

In [9]:
Cost = np.random.uniform(26.88, 33.72)

In [6]:
RF = (np.random.normal(size =100))*1.2 + 3

In [21]:
df = pd.DataFrame()

In [22]:
df['Price'] = random

In [23]:
df.head()

      Price
0  0.861563
1  0.484216
2  0.700015
3  0.612577
4  0.125720

In [24]:
def priceFunction(series):
    if series < .15:
        return 36.25
    elif series < .45:
        return 41.50
    elif series < 1:
        return 38

In [25]:
df['PriceR'] = df['Price'].apply(priceFunction)

In [30]:
df

       Price  PriceR
0   0.861563   38.00
1   0.484216   38.00
2   0.700015   38.00
3   0.612577   38.00
4   0.125720   36.25
..       ...     ...
95  0.316148   41.50
96  0.133338   36.25
97  0.667419   38.00
98  0.636799   38.00
99  0.091410   36.25

[100 rows x 2 columns]

In [31]:
df['unitsSold'] = unitsSold

In [34]:
df['Cost'] = Cost

In [35]:
df['RF'] = RF

In [36]:
#pùëüùëúùëìùëñùë°=(ùëÖùêπ‚àó(ùëàùëõùëñùë°ùë†ùë†ùëúùëôùëë)‚àó(ùëÉùëüùëñùëêùëí))‚àí((0.2)‚àó(ùëÖùêπ)‚àó(ùëàùëõùëñùë°ùë†ùë†ùëúùëôùëë)‚àó(ùê∂ùëúùë†ùë°))+$320
Profit = (df.RF * df.unitsSold * df.PriceR) - (.2 * df.RF * df.unitsSold * df.Cost) + 320

In [37]:
Profit

0     2179.451043
1     2684.489497
2     2003.149050
3     2260.121483
4     1617.159887
         ...
95    5748.544716
96    2842.168201
97    2505.595331
98    2643.892494
99       9.315057
Length: 100, dtype: float64

In [38]:
df['Profit'] = Profit

In [39]:
df

       Price  PriceR  unitsSold       Cost        RF       Profit
0   0.861563   38.00  30.519636  30.415892  1.908911  2179.451043
1   0.484216   38.00  28.445776  30.415892  2.604354  2684.489497
2   0.700015   38.00  26.953455  30.415892  1.956539  2003.149050
3   0.612577   38.00  20.690197  30.415892  2.937952  2260.121483
4   0.125720   36.25  30.299750  30.415892  1.419139  1617.159887
..       ...     ...        ...        ...       ...          ...
95  0.316148   41.50  34.843457  30.415892  4.398986  5748.544716
96  0.133338   36.25  31.605798  30.415892  2.645317  2842.168201
97  0.667419   38.00  25.514327  30.415892  2.683898  2505.595331
98  0.636799   38.00  21.117337  30.415892  3.447921  2643.892494
99  0.091410   36.25  23.527069  30.415892 -0.437747     9.315057

[100 rows x 6 columns]