### Table of Contents <a class="anchor" id="BeyondSQL3_toc"></a>

* [Table of Contents](#BeyondSQL3_toc)
    * [Page 1 - Introduction](#BeyondSQL3_page_1)
    * [Page 2 - Getting to Know classicmodels](#BeyondSQL3_page_2)
    * [Page 3 -  Using IN to Make Code More Efficient](#BeyondSQL3_page_3)
    * [Page 4 - ](#BeyondSQL3_page_4)
    * [Page 5 - Ascending and Descending Order](#BeyondSQL3_page_5)
    * [Page 6 - ](#BeyondSQL3_page_6)
    * [Page 7 - ](#BeyondSQL3_page_7)
    * [Page 8 - Key Terms](#BeyondSQL3_page_8)
    * [Page 9 - Quiz](#BeyondSQL3_page_9)

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 1 - Introduction <a class="anchor" id="BeyondSQL3_page_1"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

from IPython.display import VimeoVideo

#Tutorial Video Name: future name here 

#VimeoVideo('0000', width=720, height=480)

Remember that relational databases use a relational model of data. A relational model organizes data as relations, or sets of tuples. For example, imagine a customer relation, where each tuple represents a customer. Each tuple would have attributes describing each individual customer, with information like first name, last name, customer number. One or more of those attributes will be used as a key to uniquely identify each customer tuple. The relational model allows logical operations to be performed between tables, or relations.

In relational databases, relations are set up as table, just like you'd find in an Excel spreadsheet. Each row of the table is a tuple, and the attributes make up the columns of the table. Most tables have a primary key column, which uniquely identifies each row of a database. Every column has a data type, which describes the data for the column and was set when the table was created. 

The software used to manage relational databases, on a computer, anyway, is called a relational database management system, or RDBMS. SQL is the language used by users of an RDBMS to access and interatct with the relational database.

## Basic Anatomy of a SQL Query

A query follows a certain ordered pattern, just like any other langage. In English, adjectives come before nouns. In Spanish, they come after. Like any language, SQL has its own rules. This written language has its own syntax, punctuation and word order. 

Generally speaking, a query can be broken into five parts, and when each is used, must be used in this order:

**Operation** the first part of a query describes what is going to be done. Most of the time it is the word SELECT, followed by the names of columns combined with functions. 

**Data** this part of the query is the data, which follows the FROM keyword, and possible one or more tables joined, indicating which data should be scanned by the RDBMS for filtering, selection and calculation. 

**Conditional** A special clause that filters the data to only rows that meet a certain condition- usually with WHERE.

**Grouping** A special clause that takes the rows of a database, and assembles them in order with GROUP BY and then calculates a value using the values from all rows with the same value. 

**Post-processing** the last part of a query that takes the results of the data and formats them by sorting and limiting, often with ORDER BY and LIMIT.

## Visualize Yourself as a Data Analyst

This lesson is an exercise in real-world scenarios.  You are a data analyst for Entity Cars, a high-end classic car company located in the Southwest. It's a popular chain of car dealerships that sells high-end vintage race cars, motorcycles, and even the occasional helicopter. They cater to wealthy collectors and car enthusiasts and as such, maintain an active marketing department and inquisitive and engaged C-suite. Your job is to provide answers to their questions that solve business goals, and you answer to the Vice President of Sales. The marketing department actively uses your insights to plan events, sales and marketing outreach. You'll be using classicmodels for this.

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page  2- Getting to Know classicmodels <a class="anchor" id="BeyondSQL3_page_2"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

Here is a link to the author of the classicmodels database, in his __[Github repository](https://gist.github.com/prof3ssorSt3v3/796ebc82fd8eeb0b697effaa1e86c3a6)__

The asterisk will pull all data from a database. The * symbol is shorthand to return all columns from a database. It's important to realize that the rows will be returned in no specific order. If  you want to return only specific columns from a query, list them in the order you want them returned.

```sql

SELECT productName, MSRP FROM products;
```

But if you wanted MSRP listed first:

```sql

SELECT MSRP, productName FROM products;
```

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 3 - Using IN to Make Code More Efficient <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

Anthony Bow, the Sales Manager for North America, has asked for a phone list for customers in California so his District Managers there can follow up on how customers feel about service they received recently, based on a dashboard you created last month about dipping sales figures in some areas of the state.  Anthony is asking for this list alphabetically by customer last name and would like it by tomorrow morning.

```sql
SELECT customerName, phone from customers
WHERE state = "CA"
ORDER BY contactLastName;
```

explanation here

It's the next week, and Anthony has gotten feedback from the district managers. He would like to expand the plan to have managers call customers in Nevada, New York and Massachusetts, after learning that some customers are driving from out of state to purchase vehicles in a few of the dealerships in California. How will you write this query, in as few lines as possible? Remember to make it easy for the managers to split up the list by state.

```sql
SELECT customerName, phone, state from customers
WHERE state IN ("CA", "NY", "MA", "NV")
ORDER BY state, contactLastName;
```

Anthony also would like to know how many customers are coming from outside the United States and where they're traveling in from.

```sql
select country from customers
WHERE country NOT IN ("USA");
```

You could search for multiple customerNumbers this way, and it's not wrong, but you're looking for fluency, efficiency and proficiency, so look for ways to incorporate **IN** and **NOT IN** where you can.

```sql
SELECT customerNumber, customerName, city, state FROM customers
WHERE customerNumber = 112 OR customerNumber = 151 OR customerNumber = 216 OR customerNumber = 489;

-- This way is cleaner coding:
    
SELECT customerNumber, customerName, city, state FROM customers
WHERE customerNumber IN (112, 151, 216, 489);

```

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 4 -  <a class="anchor" id="BeyondSQL3_page_4"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 5 - Ascending and Descending Order <a class="anchor" id="BeyondSQL3_page_5"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

The Customer Service manager wants to follow up with customers who gave 
feedback in the comments section of orders and she is asking you for a list of customers, 
their phone number, the comments and quantity ordered so that sales reps can follow up 
with the customers about each customer's exact issue. They would like this list by end of day.

```sql
/* 
You'll need to join two tables that don't share a foreign or primary key - but you'll need a third table, a middleman, in order to return the information you need. Like Nik says, this table is like a mutual friend, introducing customers and orderdetails tables to each other. 
*/



select contactLastName, contactFirstName, phone, comments, quantityOrdered from customers
JOIN orders USING (customerNumber)   
JOIN orderdetails USING (orderNumber)
WHERE comments IS NOT NULL
ORDER BY orderDate DESC;

```

The customer service manager is happy with the results, but would like to have the first name listed first in the tables, and would like a nicer presentation for when he presents to his team, and has asked you to revise the query results. How would you do that?

```sql

CREATE VIEW CommentCards AS
SELECT contactFirstName AS FirstName, contactLastName AS LastName, phone, comments, quantityOrdered from customers
JOIN orders USING (customerNumber)   
JOIN orderdetails USING (orderNumber)
WHERE comments IS NOT NULL
ORDER BY orderDate DESC;

SELECT * FROM CommentCards

```

In [10]:
try:
    display(L1P2Q1, L1P2Q2, L1P2Q3, L1P2Q4)
except:
    pass

In [ ]:
L2P4Q1 = MultipleChoice('1. Question?',['A','B','C', 'D'],'D')
L2P4Q2 = MultipleChoice('2. Question?',['A','B','C', 'D'],'D')
L2P4Q3 = MultipleChoice('3. Question?',['A','B','C', 'D'],'D')
L2P4Q4 = MultipleChoice('4. Question?',['A','B','C', 'D'],'D')
L2P4Q5 = MultipleChoice('5. Question?',['A','B','C', 'D'],'D')

In [ ]:
if __name__ == "__main__":
    display(L2P4Q1, L2P4Q2, L2P4Q3, L2P4Q4, L2P4Q5)

The staff accountant is going through bank deposits in anticipation of an upcoming audit. The accountant would like to match up payments and payment dates with information from their records and is requesting a list of those things, starting with the largest amount first, in descending order.

```sql

SELECT paymentDate, amount FROM payments
ORDER BY amount DESC;

```

Accounts Receivable Dept is asking for purchases older than a year, or less then $1,000. They would like to write off some of the old debt and send other accounts to collections. Compile a report for A/R.

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 6 - C-Suite Requests <a class="anchor" id="BeyondSQL3_page_6"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

The CEO has an upcoming state of the business address and is asking for some information as part of the report. The first request is for a total value of inventory on hand. You will need to use the SUM function on buyPrice and quantityInStock and call that InventoryValue. <br>
The CEO is not interested in amounts of product inventory worth less than 50,000, as orders for new stock are expected to come in the next quarter and won't affect the company's P&L statement at this time. The CEO wants only InventoryValues more than $100,000.

```sql

SELECT productCode, SUM(buyPrice * quantityInStock) AS InventoryValue
FROM products
GROUP BY productCode
HAVING SUM(buyPrice * quantityInStock) > 100000
ORDER BY InventoryValue DESC;

```

Next on the list of tasks is pulling together revenue for the year, and identifying which products brought in the highest revenue for the company. The CEO intends to build on what worked in the past year and have staffers search for similar vehicles, given the success of the products in the past year. Build a table called Revenue that returns the productCode, productName, the sum of quantityOrdered times MSRP (which is the revenue). Group by productCode, include only those sales over 10,000 and sort it in descending order, with largest figure first.

```sql
SELECT productCode, productName, SUM(quantityOrdered * MSRP) as Revenue
FROM products
JOIN orderdetails USING (productCode)
GROUP BY productCode
HAVING SUM(quantityOrdered * MSRP) > 10000
ORDER BY Revenue DESC;
```

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 7 - Updating Records in Tables <a class="anchor" id="BeyondSQL3_page_7"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

There are three new offices which have opened recently. They're still in the process of renovating the office space and don't have any stock yet. Update the offices table with the new office locations.

officeCode must be unique, and there are seven offices listed, 1-7 already. Update officeCode, city, phone, addressLine1, addressLine2 (used if there's a suite number), state, country, postalCode and list territory as NA.

```sql
INSERT INTO offices(officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory) 
VALUES 

('8','Phoenix','+1 602 319 4882','1005 Camelback Road','Suite 300','AZ','USA','85015','NA'),

('9','Orlando','+1 407 832 0825','1556 University Boulevard','Suite 102','FL','USA','32820','NA'),

('10','Sault Ste. Marie','+1 905 632 3000','523 East Ashmun Avenue','Suite 5A','MI','USA','49783','NA');

```

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 8 - Key Terms <a class="anchor" id="BeyondSQL3_page_8"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

# Key Terms
- **Operation**: The first part of a query describes what is going to be done. In this case, the word SELECT followed by the names of the columns combined with functions. 
- **Data**: The next part of a query is the data, which is the FROM keyword followed by one or more tables connected together with JOIN, or indicating what data should be queried for filtering, selection, and calculation. 
- **Conditional**: A part of the query that filters the data to only rows that meet a condition, usually the WHERE operator is used. This is the third part of a query.
- **Grouping**: A special clause that take rows of data and assembles them using a GROUP BY clause and then calculates the value.
- **Post-processing** : The last part of a query that takes the results and formats them by limiting or sorting, usually with ORDER BY and LIMIT. 
- **LIMIT**:  Similar to a .head() function in Python or a head() function in R, this allows you to view just the first few rows of data.  You specify what to limit to. 
- **Entity Relationship Diagram**: 

- **

The Sales Department is working remotely this week, and one of the sales reps is with a client in a restaurant. He's calling you from the restroom to see if you can search the product database for a Triumph or Ducati motorcycle. The sales rep is pretty sure he can secure the deal if you're willing to help him. Search the database for any productNames that contain "Triumph" or "Ducati" in the name.

```sql
SELECT productName from products
WHERE productName LIKE '%Triumph%';
```

```sql
SELECT productName FROM products
WHERE productName LIKE '%Triumph%' OR productName LIKE '%Ducati%';
```

Using this logic, see if you can find a historic boat listed in the database.

Use IN  to make that query neater and less repetitive.

, cor= "Ascending order means the rows will be ordered from smallest to highest value of the chosen columns. In the case of text, this means alphabetical.", incor= "Ascending order means the rows will be ordered from smallest to highest value of the chosen columns. In the case of text, this means alphabetical."

, cor = 'SELECT comes first, then FROM, then WHERE, then GROUP BY, then ORDER BY or LIMIT.', incor= 'SELECT comes first, then FROM, then WHERE, then GROUP BY, then ORDER BY or LIMIT.'

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 9 - Quiz <a class="anchor" id="BeyondSQL3_page_9"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

In [13]:
try:
    from DS_Students import *
    from ipynb.fs.full.DS108ADVQuestions import *
except:
    !pip install DS_Students
    from DS_Students import *
    from ipynb.fs.full.DS108ADVQuestions import *

Requirement already satisfied: DS_Students in c:\python3\lib\site-packages (0.1.5)
Requirement already satisfied: ipynb in c:\python3\lib\site-packages (from DS_Students) (0.5.1)
Requirement already satisfied: ipython in c:\python3\lib\site-packages (from DS_Students) (8.3.0)
Requirement already satisfied: ipywidgets in c:\python3\lib\site-packages (from DS_Students) (7.7.0)
Requirement already satisfied: setuptools>=18.5 in c:\python3\lib\site-packages (from ipython->DS_Students) (58.1.0)
Requirement already satisfied: jedi>=0.16 in c:\python3\lib\site-packages (from ipython->DS_Students) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\python3\lib\site-packages (from ipython->DS_Students) (0.1.3)
Requirement already satisfied: colorama in c:\python3\lib\site-packages (from ipython->DS_Students) (0.4.4)
Requirement already satisfied: decorator in c:\python3\lib\site-packages (from ipython->DS_Students) (5.1.1)
Requirement already satisfied: backcall in c:\python3\lib\site-packages (from ipython->DS_Students) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\python3\lib\site-packages (from ipython->DS_Students) (3.0.29)
Requirement already satisfied: stack-data in c:\python3\lib\site-packages (from ipython->DS_Students) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\python3\lib\site-packages (from ipython->DS_Students) (2.12.0)
Requirement already satisfied: pickleshare in c:\python3\lib\site-packages (from ipython->DS_Students) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\python3\lib\site-packages (from ipython->DS_Students) (5.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in c:\python3\lib\site-packages (from ipywidgets->DS_Students) (3.6.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\python3\lib\site-packages (from ipywidgets->DS_Students) (6.13.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\python3\lib\site-packages (from ipywidgets->DS_Students) (5.4.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\python3\lib\site-packages (from ipywidgets->DS_Students) (1.1.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\python3\lib\site-packages (from ipywidgets->DS_Students) (0.2.0)
Requirement already satisfied: psutil in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (5.9.0)
Requirement already satisfied: packaging in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (21.3)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (7.3.1)
Requirement already satisfied: tornado>=6.1 in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (6.1)
Requirement already satisfied: nest-asyncio in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (1.5.5)
Requirement already satisfied: debugpy>=1.0 in c:\python3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->DS_Students) (1.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\python3\lib\site-packages (from jedi>=0.16->ipython->DS_Students) (0.8.3)
Requirement already satisfied: fastjsonschema in c:\python3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->DS_Students) (2.15.3)
Requirement already satisfied: jsonschema>=2.6 in c:\python3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->DS_Students) (4.5.1)
Requirement already satisfied: jupyter-core in c:\python3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->DS_Students) (4.10.0)
Requirement already satisfied: wcwidth in c:\python3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->DS_Students) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\python3\lib\site-packages (from widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (6.4.11)
Requirement already satisfied: asttokens in c:\python3\lib\site-packages (from stack-data->ipython->DS_Students) (2.0.5)
Requirement already satisfied: pure-eval in c:\python3\lib\site-packages (from stack-data->ipython->DS_Students) (0.2.2)
Requirement already satisfied: executing in c:\python3\lib\site-packages (from stack-data->ipython->DS_Students) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\python3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->DS_Students) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\python3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->DS_Students) (0.18.1)
Requirement already satisfied: entrypoints in c:\python3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->DS_Students) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->DS_Students) (2.8.2)
Requirement already satisfied: pyzmq>=22.3 in c:\python3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->DS_Students) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\python3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets->DS_Students) (304)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.13.3)
Requirement already satisfied: argon2-cffi in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (21.3.0)
Requirement already satisfied: nbconvert>=5 in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (6.5.0)
Requirement already satisfied: prometheus-client in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.14.1)
Requirement already satisfied: jinja2 in c:\python3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (3.1.2)
Requirement already satisfied: six in c:\python3\lib\site-packages (from asttokens->stack-data->ipython->DS_Students) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\python3\lib\site-packages (from packaging->ipykernel>=4.5.1->ipywidgets->DS_Students) (3.0.9)
Requirement already satisfied: defusedxml in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (2.1.1)
Requirement already satisfied: tinycss2 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (1.1.1)
Requirement already satisfied: beautifulsoup4 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (4.11.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (1.5.0)
Requirement already satisfied: nbclient>=0.5.0 in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.6.3)
Requirement already satisfied: bleach in c:\python3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (5.0.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\python3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (2.0.5)
Requirement already satisfied: argon2-cffi-bindings in c:\python3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\python3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (1.15.0)
Requirement already satisfied: soupsieve>1.2 in c:\python3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\python3\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (0.5.1)
Requirement already satisfied: pycparser in c:\python3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->DS_Students) (2.21)

WARNING: There was an error checking the latest version of pip.

ModuleNotFoundError: No module named 'ipynb.fs.full.DS108ADVQuestions'

In [ ]:
try:
    display(L3P9Q1, L1P2Q2, L1P2Q3, L1P2Q4)
except:
    pass

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 10 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 11 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">